<h3>View Hotel Details</h3>
<div class="container">
    <div>
        <label >
            <b>Hotel Id :</b>
            {{hotel.id}}
        </label>
    </div>
    <div>
        <label >
            <b>Hotel Name :</b>
            {{hotel.hotelName}}
        </label>
    </div>
    <div>
        <label >
            <b>Location  :</b>
            {{hotel.location}}
        </label>
    </div>
    <div>
        <label >
            <b> Rating:</b>
            {{hotel.rating}}
        </label>
    </div>
</div>