<h3>View Booking Details</h3>
<div class="container">
    <div>
        <label >
            <b>Customer Id :</b>
            {{customer.customerId}}
        </label>
    </div>
    <div>
        <label >
            <b>Customer Name :</b>
            {{customer.customerName}}
        </label>
    </div>
    <div>
        <label >
            <b>Gender :</b>
            {{customer.gender}}
        </label>
    </div>
    <div>
        <label >
            <b>Address :</b>
            {{customer.address}}
        </label>
    </div>
    <div>
        <label >
            <b>Contact :</b>
            {{customer.contact}}
        </label>
    </div>
    <div>
        <label >
            <b>Hotel Id :</b>
            {{hotel.id}}
        </label>
    </div>
    <div>
        <label >
            <b>Hotel Name :</b>
            {{hotel.hotelName}}
        </label>
    </div>
    <div>
        <label >
            <b>Location  :</b>
            {{hotel.location}}
        </label>
    </div>
    <div>
        <label >
            <b> Rating:</b>
            {{hotel.rating}}
        </label>
    </div>
    <div>
        <label >
            <b> Rating:</b>
            {{hotel.rating}}
        </label>
    </div>
    <div>
        <label >
            <b> Booking Id:</b>
            {{booking.bookingId}}
        </label>
    </div>
    <div>
        <label >
            <b> Check In Date:</b>
            {{booking.checkInDate}}
        </label>
    </div>
    <div>
        <label >
            <b> Check Out Date:</b>
            {{booking.checkOutDate}}
        </label>
    </div>
    <div>
        <label >
            <b> Room Type:</b>
            {{booking.roomType}}
        </label>
    </div>
    <div>
        <label >
            <b> Price:</b>
            {{booking.price}}
        </label>
    </div>
</div>